@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #0d1117;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  color: #F4F4F5;
}

@keyframes twinkle {

  0%,
  100% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
  animation: twinkle 2s infinite alternate ease-in-out;
}

.home-container>h1 {
  font-size: 3rem;
}

#name {
  font-size: 4rem;
  color: blueviolet;
}

.home-container>h2 {
  font-size: 2rem;
  font-weight: 100;
}

.nav-container {
  position: fixed;
  z-index: 3;
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-child {
  display: flex;
  align-items: center;
  background: rgba(114, 114, 114, .2);
  border: 1px solid #404040b5;
  border-radius: 30px;
  backdrop-filter: blur(5px);
}

.nav-elements {
  font-family: "Raleway", sans-serif;
  color: #F4F4F5;
  text-decoration: none;
  padding: 3px 10px;
  border-radius: 20px;
  margin: 10px;
}

.nav-elements:hover {
  background-color: rgba(114, 114, 114, .2);
  transition: ease 0.5s;
  transform: scale(0.9);
}

.about,
.projects,
.skills,
.footer {
  background-color: #0d1117;
  color: #F4F4F5;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.about-header {
  width: fit-content;
}

.about-text {
  border-left: 2px solid rgb(100, 100, 100);
  padding-left: 20px;
  padding-right: 22px;
}

.about-icons {
  width: 10rem;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.skill-icons {
  text-align: center;
  word-wrap: break-word;
}

i {
  font-size: 5rem;
  padding: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0.5px solid white;
}